<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="1 seconds">
    <contextName>ach-api</contextName>
    <property scope="context" file="${app_conf}/production.properties" />
    <property scope="context" resource="classpath:production.properties" />
    <jmxConfigurator/>
    <!-- direct log messages to stdout -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5p |-%c{35}:%L - %m %n</pattern>
        </encoder>
    </appender>
	<appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${ach.api.loggingRoot}/ach-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${ach.api.loggingRoot}/%d{yyyy-MM,aux}/ach-api.%d.%i.gz</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}[%t]%-5p %c{36}.%M\(%L\) %m%n</pattern>
		</encoder>
	</appender>
	
	 <appender name="http" class="com.greenline.local.commons.log.HttpAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="ASYNCHttp" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="http"/>
    </appender>
    
    <appender name="ASYNCConsole" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="stdout"/>
    </appender>
	<appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ach.api.loggingRoot}/ach-api-error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ${ach.api.loggingRoot}/error/ach-api-error.%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%t] %5p |-%c{35}:%L - %m %n
            </pattern>
        </encoder>
    </appender>

    <logger name="ach.api" level="INFO" >
        <appender-ref ref="ALL" />
    </logger>

    <root level="INFO">
        <appender-ref ref="ASYNCConsole"/>
         <appender-ref ref="ALL"/>
         <appender-ref ref="errorFile"/>
         <appender-ref ref="ASYNCHttp"/>
    </root>
</configuration>
